$baseBlue: #237FC2;
$baseRed: #FF4242;
$baseLighterRed: #f15c5c;
$baseGreen: #3DD33A;
$baseLighterGreen: #55ff52;
$baseLightestGreen: #8df58b;
$baseDarkerGreen: #29a027;
$baseYellow: #FFFF00;
#game1-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

#game2-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

/*getting rid of the dot thing next to radio buttons*/
input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}



#answer-button {
    cursor: pointer;
    transition: all 0.5s;
    width: 180px;
    height: 52px;
    background-color: white;
    border-radius: 50px;
    border-color: $baseRed;
    font-weight: 700;
    color: $baseRed;
}
#answer-button:hover {
    transition: all 0.5s;
    background-color: $baseRed;
    border-radius: 50px;
    border-color: white;
    color: white;
}
#answer-button:hover {
    transition: all 0.5s;
    background-color: $baseRed;
    border-radius: 50px;
    border-color: white;
    color: white;
}
#answer-button:focus {
    background-color: $baseRed;
    border-radius: 50px;
    border-color: white;
    color: white;
}

#main-game-1 {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
    #gametitle1 {
        font-weight: 400;
        // font-size: 19px;
        font-size: 1em;
        width: 100vw;
        max-width: 66vw;
        padding: 1.5em;
        background-color: $baseRed;
        text-align: center;
        color: white;
        border-radius: 10px;
    }
    .options-container {
        width: 66vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 3;
        gap: 20px;
        .option img{
            transition: 0.2s;
            border: 3.5px solid;
            border-color: black;
            border-radius: 10px;
        }
        .option img:hover {
            transition: 0.2s;
            transform: scale(1.05);
        }

        input[name="fourImage"]:checked+label{
            img{
                border-color: $baseYellow;
            }
        }

    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width: 320px) and (max-width: 480px) {
    // mobile devices
    #answer-button {
        width: 52.58px;
        height: 15.22px;
    }
    #main-game-1 {
        #gametitle1 {
            font-size: 11.6882px;
            border-radius: 2.92205px;
        }
        .options-container {
            display: flex;
            flex-wrap: wrap;
        }
        .option img{
            aspect-ratio: 1/1;
            border: 0.58px solid black;
            width:27.5vw;
        }
    }
}

@media screen and (min-width: 567px) and (max-width: 768px) {
    #main-game-1 {
        gap: 25.47px;
        #gametitle1 {
            font-size: 17.922px;
            border-radius: 6.04px;
        }
        .options-container{
            display: flex;
            flex-wrap: wrap;
        }
        .option img {
                width: 30vw;
        }
        
    }
    #main-game-2 {
        gap: 25.47px;
        #gametitle2 {
            font-size: 12px;
            border-radius: 6.04px;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 566px) {
    #main-game-1 {
        gap: 25.47px;
        #gametitle1 {
            font-size: 17.922px;
            border-radius: 6.04px;
        }
        .options-container{
            display: flex;
            flex-wrap: wrap;
        }
        .option img {
                width: 29vw;
        }
        
    }
    #main-game-2 {
        gap: 25.47px;
        #gametitle2 {
            font-size: 12px;
            border-radius: 6.04px;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    // Small screens, laptops
    #main-game-1 {
        gap: 25.47px;
        #gametitle1 {
            font-size: 17.922px;
            border-radius: 6.04px;
        }
        .option img {
                width: 13.5vw;
            }
    }
    #main-game-2 {
        gap: 25.47px;
        #gametitle2 {
            font-size: 17.922px;
            border-radius: 6.04px;
        }
    }
}

@media screen and (min-width: 1440px){
    #main-game-1 {
    .option img {
            width: 15.4vw;
        }
    }
    #gametitle1,#gametitle2{
        font-size: 1vw;
    }
}

circle {
    transition: all 1s linear;
}

#c1 {
    transition: all 1s linear;
    stroke: #DDDEDF;
    stroke-width: 3;
    stroke-linecap: round;
    fill: transparent;
}

#c2 {
    transition: all 1s linear;
    stroke: #c92516;
    stroke-width: 3;
    stroke-linecap: round;
    fill: transparent;
    -webkit-animation: heartBeat 1s;
    animation: heartBeat 5s;
}



@keyframes heartBeat {
    0% {
        stroke: #4fc916;
    }
    25% {
        stroke: #c0c916;
    }
    50% {
        stroke: #c97816;
    }
    75% {
        stroke: #c92516;
    }
}

#game2-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-game-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 4vh;
    #gametitle2 {
        font-weight: 400;
        font-size: 1em;
        width: 100vw;
        max-width: 70vw;
        padding: 1.5em;
        background-color: $baseRed;
        text-align: center;
        color: white;
        border-radius: 10px;
    }
    #image{
        text-align: center;
        img{
           width: 35vw; 
        }
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #options{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    button[value="no"],button[value="yes"]{
        font-size: 1em;
        cursor: pointer;
        user-select: none;
        transition: 0.4s;
        width: minmax(34px,104px);
        height: mixmax(30px,62.34px);
        padding: 0.5em 1em 0.5em 1em;
        font-weight: 700;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    button[value="yes"]{border: 2px solid $baseGreen;background-color: white;}
    button[value="no"]{border: 2px solid $baseRed; background-color: white;}

    button[value="yes"]:hover{
        background-color: #3DD33A;
        color: white;
    }

    button[value="no"]:hover{
        background-color: $baseRed;
        color: white;
    }

    input[value="yes"]:checked+label{
        background-color: #3DD33A;
        color: white;
    }

    input[value="no"]:checked+label{
        background-color: $baseRed;
        color: white;
    }


    #answer-button {
        color: black;
        border-color: $baseYellow;
    }
    #answer-button:hover {
        color: white;
        background-color: $baseYellow;
    } 
    #answer-button:focus {
        background-color: $baseYellow;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    // mobile devices
    #main-game-2 {
        #gametitle1 {
            font-size: 11.6882px;
            border-radius: 2.92205px;
        }

        #answer-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5%;
            font-size: 11.6882px;
            width: 82px;
            height: 16px;
        }
    }
    #main-game-1{
        #answer-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5%;
            font-size: 11.6882px;
            width: 82px;
            height: 16px;
        }
    }
}

@media screen and (min-width:320px) and (max-width: 631px) {
    button[value="no"],button[value="yes"]{
        padding: 0.5em 1em 0.5em 1em;
        font-size: 2vw;
    }
}

input[name="img4text"]+label{
    cursor: pointer;
    user-select: none;
    transition: 0.4s;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
    width: 10.5em;
    text-align: center;
    font-weight: bolder;
}

input[name="img4text"]+label:hover{
    background-color: $baseLighterGreen;
    border-color: $baseLighterGreen;
    color: white;
}

input[name="text4text"]+label
{
    font-size: 0.9em;
    cursor: pointer;
    transition: 0.4s;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
    width: 10.5em;
    text-align: center;
    font-weight: bolder;
}

input[name="text4text"]+label:hover{
    background-color: $baseLighterGreen;
    border-color: $baseLighterGreen;
    color: white;
}


input[name="img4text"]:checked+label{
    color: white;
    border-color: $baseGreen;
    background-color: $baseGreen;
}

input[name="text4text"]:checked+label{
    color: white;
    border-color: $baseGreen;
    background-color: $baseGreen;
}

#options-game-3{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
    flex-wrap: wrap;
}

#options-game-4{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1vh;
    flex-wrap: wrap;
}

form #options {
    button{
        padding: 1rem 2rem;
    }
}