.otp-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    input{
        color: black;
        width: 40px;
        height: 40px;
        font-size: 21px;
        padding: 10px;
        text-align: center;
        border-radius: 6px; 
        background-color: rgb(216, 214, 214); 
        transition: all 0.5s;
    }
    input:focus{
        border: 2px solid #FF4242;
    }
}
